//colors:

$main_color:#FDD017;
$complementary_color: #98FB98;
$nav_color: #5B605F; //nav and side panel
$header_color: #4a4a49; //header and columns text
$btn_color: #FF6600;  //btn, highlight, nagłówki ekranów
$screen_bg: #fffffa;  //tła ekranów
$info_color: #3498DB; //info, wiadomosci
$warning_color: #FFB03B;  //wiadomosci warning
$success_color: #468966;  ////wiadomosci success
$trash_color: #BD4932;  //kolor ikony kosza
$text_table_color: #A1A194; //ikony rozszerzonych funkcji, kolor tekstu z wierszy w tabelach
$bg_color: #e5e5e5;
$menu_logo_background: #043927;







//fonts:
$logo_font: 'Charmonman', sans-serif;
$text_font: 'Montserrat', sans-serif;
$complementary_font: 'Marck Script', cursive;







