//main

.MenuMain {
  background-color: $bg_color;
  height: 100vh;
  box-sizing: border-box;
  display: flex; //dous
  flex-direction: row; //dous


  @media screen and (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
   height: 100%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  @media (min-width: 800px) {
    width: 97%;
  }
}

//Hamburger section

.main__hamburger {
  height: 12vh;
  background-color: $menu_logo_background;
  display: flex;
  align-items: center;
  font-weight: bold;
  @media screen and (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
    height: 5rem;
  }

  img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0 10px 5px 0
  }
}

//Stats section
.main__stats {
  height: 30vh;
  margin-top: 2.7rem;
  text-align: center;
  border-radius: 4rem;
  font-weight: bold;
  font-size: 1rem;
  @media screen and (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
height: 15rem;
  }

  i {
    font-size: 3rem;
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    bottom: 2vh;
    border-radius: 0.5rem
  }

}

//Stat__Books

.main__stats__books {
  background-color: $screen_bg;
  margin-right: 2vw;
  box-shadow: 3px 10px 16px 0px rgba(166, 153, 166, 1);
  i {
    background-color: $success_color;
  }
}

.main__stats__books--counter {
  display: block;
  font-size: 2rem;
  font-weight: normal;
  margin: 10px 0 10px 0;
  font-style: italic;
}

.main__stats__books--counter--month {
  display: block;
  font-size: 2rem;
  font-weight: normal;
  margin: 10px 0 10px 0;
  font-style: italic;
}

//Stat__Movies

.main__stats__movies {
  background-color: $screen_bg;
  margin-left: 2vw;
  box-shadow: 3px 10px 16px 0px rgba(166, 153, 166, 1);

  i {
    background-color: $main_color;
  }
}

.main__stats__movies--counter {
  display: block;
  font-size: 2rem;
  font-weight: normal;
  margin: 10px 0 10px 0;
  font-style: italic;
}

.main__stats__movies--counter--month {
  display: block;
  font-size: 2rem;
  font-weight: normal;
  margin: 10px 0 10px 0;
  font-style: italic;
}

//Search CTA

.main__searchPage {
  text-align: center;
  height: 20vh;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: bold;
  font-family: $complementary_font;
}

.main__searchPage__movies {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF6600;
  background-size: cover;
  border-radius: 50%;
  height: 100%;
  width: 20rem;
  text-decoration: none;
  margin: 0 1.5rem 0 1rem;
  animation: beat 1.5s ease-in-out both;
  box-shadow: 3px 10px 16px 0px rgba(166, 153, 166, 1);
  color: $menu_logo_background;
}

.main__searchPage__books {
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-color: #00ff90;
  border-radius: 50%;
  margin: 0 1rem 0 0.7rem;
  height: 100%;
  text-decoration: none;
  animation: beat 1.5s ease-in-out both;
  box-shadow: 3px 10px 16px 0px rgba(166, 153, 166, 1);
  color: $menu_logo_background;
}

@keyframes beat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out
  }
  10% {
    transform: scale(.91);
    animation-timing-function: ease-in
  }
  17% {
    transform: scale(.98);
    animation-timing-function: ease-out
  }
  33% {
    transform: scale(.87);
    animation-timing-function: ease-in
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out
  }
}

//Section other pages
.main__shortcut {
  margin-top: 3.5rem;
  height: 20vh;
  width: 100%;
  box-shadow: 3px 10px 16px 0px rgba(166, 153, 166, 1);
  font-family: $complementary_font;


  a {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: $main_color;
  }


}

.main__shortcut__myShelf {
  background-color: #00ff90;
  background-size: cover;
}

.main__shortcut__myMovies {
  background-color: #ff00e5;
  background-size: cover;

}

.main__shortcut__wishesList {
  background-color: #ffd500;
  background-size: cover;
}








