//main

.main {

  background-color: $bg_color;
  height: 100vh;
  box-sizing: border-box;
}

//Hamburger section

.main__hamburger {
  height: 8vh;
  background-color: $complementary_color;
  display: flex;
  align-items: center;
  padding-top: 0.5vh;
  font-weight: bold;
}

//Stats section
.main__stats {
  width: 100vw;
  height: 20vh;
  margin-top: 2.7rem;
  text-align: center;
  border-radius: 4rem;
  font-weight: bold;
  font-size: 1rem;

  i {
    font-size: 3rem;
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    bottom: 2vh;
    border-radius: 0.5rem
  }

}

//Stat__Books

.main__stats__books {
  background-color: $screen_bg;
  margin-right: 2vw;
  box-shadow: 3px 10px 16px 0px rgba(166, 153, 166, 1);

  i {
    background-color: $success_color;
  }

}

.main__stats__books--counter {
  display: block;
  font-size: 2rem;
  font-weight: normal;
  margin: 10px 0 10px 0;
  font-style: italic;

}

.main__stats__books--counter--month {
  display: block;
  font-size: 2rem;
  font-weight: normal;
  margin: 10px 0 10px 0;
  font-style: italic;
}

//Stat__Movies

.main__stats__movies {
  background-color: $screen_bg;
  margin-left: 2vw;
  box-shadow: 3px 10px 16px 0px rgba(166, 153, 166, 1);

  i {
    background-color: $info_color;
  }

}

.main__stats__movies--counter {
  display: block;
  font-size: 2rem;
  font-weight: normal;
  margin: 10px 0 10px 0;
  font-style: italic;
}

.main__stats__movies--counter--month {
  display: block;
  font-size: 2rem;
  font-weight: normal;
  margin: 10px 0 10px 0;
  font-style: italic;
}

//Search CTA

.main__searchPage {
  text-align: center;
  height: 20vh;
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: bold;

}

.main__searchPage__movies {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF6600;
  // background-image: url("../../images/search_movie.jpg")
  border-radius: 50%;
  height: 100%;
  width: 20rem;
  text-decoration: none;
  margin: 0 0.5rem 0 1rem;
  animation: beat 1.5s ease-in-out both;
  box-shadow: 3px 10px 16px 0px rgba(166, 153, 166, 1);
}

.main__searchPage__books {
  display: flex;
  // background-image: url("../../images/search_book.jpg")
  justify-content: center;
  align-items: center;
  background-color: #00ff90;
  border-radius: 50%;
  margin: 0 1rem 0 0.5rem;
  height: 100%;
  text-decoration: none;
  animation: beat 1.5s ease-in-out both;
  box-shadow: 3px 10px 16px 0px rgba(166, 153, 166, 1);
}

@keyframes beat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out
  }
  10% {
    transform: scale(.91);
    animation-timing-function: ease-in
  }
  17% {
    transform: scale(.98);
    animation-timing-function: ease-out
  }
  33% {
    transform: scale(.87);
    animation-timing-function: ease-in
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out
  }
}

//Section other pages
.main__shortcut {
  margin-top: 3.5rem;
  height: 20vh;
  width: 100%;
  box-shadow: 3px 10px 16px 0px rgba(166, 153, 166, 1);

  a {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
  }


}

.main__shortcut__myShelf {
  background-color: #00ff90;
  // background-image: url("../../images/my_shelf_view.jpg")
}

.main__shortcut__myMovies {
  background-color: #ff00e5;
  // background-image: url("../../images/my_movies.jpg")
}

.main__shortcut__wishesList {
  background-color: #ffd500;
  // background-image: url("../../images/wish_list.jpg")
}








