

.nav {
  position: absolute;
  //display: none;
  //  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  width: 20rem;
  height: 100vh;
  font-size: 1rem;
  font-weight: bold;
  font-family: $text_font;
  background-color: $menu_logo_background;
  color: $main_color;
  opacity: 1;


}

.nav__menu__logo {
  width: 100%;
  font-family: $logo_font;
  font-size: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  text-align: center;
  font-weight: 700;

  border-bottom: 2px solid $complementary_color;

  a {
    color: $main_color;
    text-decoration: none;
  }
}

.nav__menu__closed{
  text-align: right;
  font-size:2rem;
  color:$complementary_color;

}



.nav__menu__links a {
  display: flex;
  flex-direction: column;
  color: $complementary_color;

  i {
    margin: 0 1rem 0 0.33rem;
    font-size: 2.5rem;
  }

  span {
    display: flex;
    align-items: center;

  }

}


.nav__menu--link a {
  text-decoration: none;
  padding: 30px;
  display: flex;
  flex-direction: row;

  &:hover {
    background-color: $main_color;
    border-radius: 10px;
    color: rgba(99, 104, 243, 0.85);

  }


}

.nav__menu__media {
  display: flex;
  align-self: flex-end;

  i {
    font-size: 4rem;
    margin-left: 1rem;
    color: $complementary_color;

    &:hover {
      color: rgba(99, 104, 243, 0.85);
    }
  }
}

.nav__menu__hamburger {
  font-size: 4rem;
  position: absolute;
  right: 1px;
  top: 1px;

  &:active {
    animation: shadowing .4s cubic-bezier(.25, .46, .45, .94) both

  }
}

@keyframes shadowing {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 transparent
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .35)
  }
}



