.nav {
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  width: 80vw;
  min-height: 100vh;
  max-height: 1700px;
  font-size: 1rem;
  font-weight: bold;
  font-family: $text_font;
  background-color: $menu_logo_background;
  color: $main_color;
  @media (min-width: 626px) {
    position: relative;
    width: 30vw;
  }
}

.nav__menu__logo {
  width: 100%;
  font-family: $logo_font;
  font-size: 3rem;
  padding-top: 3.38rem;
  padding-bottom: 1.5rem;
  text-align: center;
  font-weight: 700;
  border-bottom: 2px solid $complementary_color;


  a {
    color: $main_color;
    text-decoration: none;

  }
}

.nav__menu__closed {
  text-align: right;
  font-size: 2rem;
  color: $complementary_color;
  cursor: pointer;
  @media (min-width: 800px) {
    display: none;
  }
}


.nav__menu__links a {
  display: flex;
  flex-direction: column;
  color: $complementary_color;
  border: 1px solid $complementary_color;
  border-radius: 10px;
  margin: 1rem 10px 0 10px;

  i {
    margin: 0 1rem 0 0.33rem;
    font-size: 2.5rem;
  }

  span {
    display: flex;
    align-items: center;

  }
}

.nav__menu--link a {
  text-decoration: none;
  padding: 30px;
  display: flex;
  flex-direction: row;
  @media (max-width: 626px) {
padding: 10px 30px;
  }

  &:hover {
    background-color: $main_color;
    border-radius: 10px;
    color: rgba(99, 104, 243, 0.85);

  }
}
.nav__menu__media {
  display: flex;
  align-self: flex-end;
  margin: 0 1rem 2rem 0;
  i {
    font-size: 4rem;
    margin-left: 1rem;
    color: $complementary_color;
    &:hover {
      color: rgba(99, 104, 243, 0.85);
    }
  }
}
.nav__menu__hamburger {
  font-size: 3rem;
  position: absolute;
  right: 10px;
  top: 1px;
  color: $screen_bg;
  @media (min-width: 626px) {
       display: none;
      }
  &:active {
    animation: shadowing .4s cubic-bezier(.25, .46, .45, .94) both
  }
}
@keyframes shadowing {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 transparent
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .35)
  }
}



