
.search__inputs{
  margin:0.5rem;
  height:4rem;
  font-size:2rem;

  border: 3px solid $complementary_color;
}
.search__list{
  margin-top: 1vh;
  li{
    margin: 1rem 0.5rem 1rem 0.5rem;
    border: solid black 1px;
    box-shadow: 3px 10px 16px 0px rgba(166, 153, 166, 1);
  }
}
.search__list__text__title{
  text-align: center;
  margin: 1rem 0 1rem;
  font-weight: bold;
}

.search__list__text__description{
  text-align: justify;
  margin: 0 0.5rem 0 0;
}